.editable-cell {
    -fx-background-color: rgba(50, 140, 240, .2);
}

.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: rgba(40, 120, 200, .2);
}

.table-view:cell-selection .table-cell:selected {
    -fx-background-color: rgba(50, 140, 240, .4);
}